@import url('https://fonts.googleapis.com/css?family=Roboto');

/* debug */
/** {*/
/*border: 1px solid red;*/
/*}*/
/* /debug */

/*Общие*/
body * {
    font-family: 'Roboto', sans-serif;
}

.clear {
    clear: both;
}

.icon-image {
    height: 200px;
    width: auto;
}

/*/Общие*/

/*Главная*/
@media (min-width: 1600px) {
    .container {
        width: 1570px;
    }

    .product-grid {
        width: 22%;
    }
}

/*/Главная*/

/*Слайдер*/
.slider {
    color: whitesmoke;
    text-align: center;
}
/*/Слайдер*/

/*Верхнее меню*/
.me-one ul li a {
    text-transform: capitalize;
}

.mepanel .row .col1 {
    width: auto;
}

.memenu>li>.mepanel {
    width: auto;
}

/*/Верхнее меню*/

.top-nav {
    width: 55%;
}

/*Левое меню*/
.rsidebar {
    width: 14%;
}
/*/Левое меню*/

/*Внутри категории*/
.product-grid h4 {
    text-align: center;
}

.product-grid p {
    text-align: justify;
}
/*/Внутри категории*/

/* Внутри продукта */
.productGallerySlider{
    width: 50%;
    float: left;
}
/* /Внутри продукта */