/* Общие */
html,
body {
    height: 100%;
}

/* /Общие */

/* Навбар */
.navbar {
    margin: 0;
    border-radius: 0;
}

.nav-container {
    width: 100%;
    /*height: 75px;*/
    margin: auto;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 50px;
}

.navbar-brand {
    font-size: 3em;
}

.navbar-nav li a {
    font-size: 1.5em;
}

/* /Навбар */

/* Слайдер */
/* You can change the height of the carousel by changing the height in the class below. It is set to 50% by default, but can be any height! */
.carousel {
    height: 50%;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 300px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* /Слайдер */

/* Футер */
.footer {
    background-color: #797979;
}

.footer-container {
    width: 100%;
}

.footer-container .logo {
    text-align: center;
}

.footer-container div{
    margin-bottom: 15px;
}

/* /Футер */