@import url(header.css);
@import url(footer.css);
@import url(cart.css);

/* Общие */
html,
body {
    height: 100%;
    background-color: #fffeec;
}

.container {
    width: 80%;
}

.clear {
    clear: both;
}

/* /Общие */

/* Слайдер */
/* You can change the height of the carousel by changing the height in the class below. It is set to 50% by default, but can be any height! */
.carousel {
    height: 50%;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 300px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-carousel-indicators .active {
    width: 18%;
    height: auto;
    box-shadow: 0 0 5px black;
    border-radius: 0;

}

.image-carousel-indicators li {
    width: 18%;
    height: auto;
    text-indent: 0;
    position: relative;
    top: 160px;
}

.myCarousel img {
    max-width: 100%;
}

.my-carousel {
    margin-bottom: 130px;
}

.my-carousel .carousel-indicators {
    width: auto;
    margin-left: -50%;
    z-index: 0;
}

/* /Слайдер */

/* Корзина */
table th, table td {
    text-align: center;
}

table th {
    line-height: 2em;
}

.cart-cell {
    width: 16%;
}

.table > tbody > tr > td {
    padding: 1px;
}

.cart-inner-thead {
    margin: 0;
}

.cart-grand-total {
    font-weight: bold;
    font-size: 150%;
    text-align: right;
}

/* /Корзина */