/*Все что связано с корзиной*/
.cart-button:hover,
.cart-delete-button:hover,
.cart-update-button:hover {
    transition: all, .2s;
    cursor: pointer;
    text-shadow: 0 0 5px black;
}

.cart-button:active,
.cart-delete-button:active,
.cart-update-button:active {
    cursor: pointer;
    text-shadow: 0 0 0 black;
}

table th, table td {
    text-align: center;
}

table th {
    line-height: 2em;
}

.table>thead>tr>th {
    padding: 0;
}

.cart-cell div {
    border: 1px solid rgb(221, 221, 221);
}

.table > tbody > tr > td {
    padding: 0;
}

.cart-inner-thead {
    margin: 0;
}

.cart-grand-total {
    font-weight: bold;
    font-size: 150%;
    text-align: right;
}

.table {
    margin-bottom: 0;
}
