/* Футер */
.footer {
    background-color: rgba(42, 125, 110, .7);
    color: white;
}

.footer-container {
    width: 100%;
}

.footer-container .logo {
    text-align: center;
}

.footer-container div {
    margin-bottom: 15px;
}

.nav-bottom {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contacts {
    text-align: right;
}

.footer-categories a {
    text-decoration: none;
    color: white;
    width: 100%;
}

.footer-categories a:hover {
    text-decoration: none;
    color: black;
}

.footer-categories div:hover {
    background: white;
}

/* /Футер */