/* Футер */

.footer * {
    transition: none;
}

.footer {
    background-color: rgba(42, 125, 110, .7);
    color: white;
    margin-top: 10px;
}

.footer-container {
    width: 100%;
}

.footer-container .logo {
    text-align: center;
}

.footer-container div {
    padding-bottom: 5px;
    margin-bottom: 0;
}

.nav-bottom {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contacts {
    text-align: right;
}

.footer-categories a,
.footer-categories h5 {
    text-decoration: none;
    color: white;
    text-align: center;
}

.footer-categories a:hover {
    text-decoration: none;
    color: black;
    background: white;
}

.footer-categories div {
    padding: 0 5px;
}

.callback-mail-button {
    margin-bottom: 5px;
}

/* /Футер */